@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : September 2016

=============================================================================================================== */



@media all and (max-width:767px){

    

    /* header

    ================================================================================================================= */
	
    /* middle homepage

    ================================================================================================================= */
	.cat-search a{
		margin-bottom:15px;
	}
	
	
    /* middle contentpage

    ================================================================================================================= */
	
	
    /* footer

    ================================================================================================================= */
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 195px;
	}
	.footer{
		height:195px;
	}
	footer .col-md-6{
		width:100%;
		float:none;
		text-align:left !important;	
	}
	.container .text-muted{
		margin-top:0 !important;
	}
	
	
	
}
